body, html {
    background: url(./images/backgroundforest.png) no-repeat;
    background-color: #4d824d;
    background-size: cover;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
  }
  #nav-container {
    font-family: 'Courier New', Courier, monospace;
  }
  hr {
    display:block; 
    height: 3px; 
    border: 10px dotted #a117178c; 
    border-top: 0px; 
    margin: 1em 0; 
    padding: 0; 
}

img[alt="cat"] {
    position: absolute;
    z-index: 5;
    top: 500px;
    left: 30px;
    padding: 0%;
}

img[alt="empty-flower-pot"] {
    position: absolute;
    z-index: 4;
    top: 620px;
    right: 30px;
}