body, html {
    background-color: forestgreen;
    background-image: url("https://wallpaperaccess.com/full/2315784.png");
    text-align: center;
    font-style: italic;
    
  }
  hr {
    display:block; 
    height: 1px; 
    border: 5px dotted #a117178c; 
    border-top: 0px dotted #a117178c; 
    margin: 1em 0; 
    padding: 0; 
}